<footer>
	<div class="container">
		<a href="mailto:contact@hearthsim.net">contact@hearthsim.net</a> ·
		<a href="mailto:press@hearthsim.net">press@hearthsim.net</a> ·
		<a href="/imprint">Imprint</a> ·
		<a class="social" href="https://www.linkedin.com/company/hearthsim">
			<svg id="icon-linkedin" enable-background="new 0 0 32 32" version="1.0" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<rect fill="#1f8ded" height="23" width="7" y="9"/>
				<path d="M24.003,9C20,9,18.89,10.312,18,12V9h-7v23h7V19c0-2,0-4,3.5-4s3.5,2,3.5,4v13h7V19C32,13,31,9,24.003,9z" fill="#1f8ded"/>
				<circle cx="3.5" cy="3.5" fill="#1f8ded" r="3.5"/>
			</svg>
		</a>
		<br/>
		<a href="/">HearthSim</a> · <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>

		<div class="footer-right">
			<img src="https://d0.awsstatic.com/Startups/General/AWS-Activate-500px.png"/>
		</div>
	</div>
</footer>
