<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"url": "https://www.hearthsim.net",
		"logo": "https://hearthsim.net/static/hearthsim-s.png",
		"foundingDate": "2016",
		"founder": [
			{
				"@type": "Person",
				"name": "Andrew Wilson",
				"image": "https://hearthsim.net/static/andrew.png"
			},
			{
				"@type": "Person",
				"name": "Alexander Zeier",
				"image": "https://hearthsim.net/static/alex.png"
			},
			{
				"@type": "Person",
				"name": "Benedict Etzel",
				"image": "https://hearthsim.net/static/benedict.png"
			}
		],
		"name": "HearthSim",
		"legalName": "HearthSim, LLC",
		"taxID": "81-3032191",
		"duns": "080995794",
		"contactPoint": [
			{
				"@type": "ContactPoint",
				"contactType": "customer support",
				"email": "contact@hearthsim.net",
				"telephone": "+1-909-500-4746",
				"availableLanguage": ["English"]
			}
		],
		"sameAs": [
			"https://twitter.com/HearthSimNet"
		]
	}
</script>

<header>
	<div class="container">
		<h1 class="brand">
			<img src="/static/hearthsim-logo-small.png" id="hearthsim-logo" alt="HearthSim logo"/>
			<img src="/static/hearthsim-s.png" id="hearthsim-s"/>
		</h1>
	</div>
</header>
